:root {
    --cor-primaria: rgb(158, 108, 108);
    --cor-segundaria: rgb(8, 154, 11);
    --cor-destaque1: #019595;
    --cor-destaque2: #090007;
    --font-titulo: "Times New Roman ", "Georgia" serif;
    --font-body: arial, helvetica, sans-serif;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    color: var(--cor-segundaria);
}

header {
    display: grid;
    margin: 5rem auto;
    grid-template-columns: none;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    font-weight: 700;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--font-titulo);
    color: var(--cor-destaque2);
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {

    top: 5px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--cor-destaque1);
    color: blanchedalmond;
}

h2 {
    display: inline;

}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;

}

.hero article img {
    float: right;
    width: 105px;
    border: 40px;
    margin: 10px;
    box-shadow: var(--cor-primaria);
}

figure {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;

}

figure img {
    display: block;
    width: 300px;
    height: auto;
    align-items: first baseline;
    flex-direction: row;

}

footer img {
    width: 40px;
    height: auto;
}