* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo-do-titulo: #f06;
    --cor-do-texto-do-titulo: #333;
    --fonte-titulo: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1) solid rgb(0 0 0 / 0.1);
}

nav {
    background-color: var(--cor-do-texto-do-titulo);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: var(--cor-de-fundo-do-titulo);
}

img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.1) solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.1) solid var(--cor-de-fundo-do-titulo);
    padding: 3px;
    box-shadow: 0 0 20px var(--cor-de-fundo-do-titulo);
}

ul {
    width: 20rem;
    text-align: center;
    position: relative;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 150px;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 30px;
    border-top: 1px solid rgb(0 0 0 / 0.1) solid var(--cor-do-texto-do-titulo);
    text-align: center;
}

/* Seletores de classe */
.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: rgb(130, 105, 99);
    color: #333;

}