*{
    magin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    list-style: 1.5;
    color:#222;
    background-color: #fff;
    margin:0;
}
nav {
    background-color: darkblue;
}
nav a {
    color: white;
    padding: 10px;
     display: block;
}
h1 {
    color: steelblue;
}

main {
    max-width: 840px;
}

aside{
    width:20rem;
    cor:black;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
    position: relative;
}
main img{
    width: 170px;px;
    height:auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    
}
footer{
    margin-top:15px;
    border-top:1px solid #000;
    text-align: center;
}
p{
    padding: 0;
}
h1 {
    color:darkblue;
}
img{
    width: 20em;
    height:auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
} 
p{
    padding: 10px;
}
/* Seletores de Classe */
.caixa {
    border: 1px solid rgb(0 0 0/2);
    padding:1em;
    margin: 1em;
       background-color: #eee;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;
}
aside h2 p{
    position: absolute;
    top:5px;
    left: 120px;
}