* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo-do-titulo: #f06;
    --cor-do-texto-do-titulo: #333;
    --fonte-titulo: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

nav {
    background-color: var(--cor-do-texto-do-titulo);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

h1 {
    color: var(--cor-de-fundo-do-titulo);
    border-bottom: 0.5px;

}

img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 3px;
    box-shadow: 0 0 20px var(--cor-de-fundo-do-titulo);
}

ul {
    width: 20rem;
    text-align: center;
    position: relative;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

p {
    padding: 0px;
    border-top: 10px;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 150px;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 30px;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    text-align: center;
}

/* Seletores de classe */
.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: rgb(130, 105, 99);
    color: #333;

}